google-api-core==2.11.1
google-api-python-client==2.90.0
google-auth==2.20.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.1
psycopg2-binary==2.9.6
pandas==2.0.2
google-play-scraper==1.2.4
pydantic==1.10.11
